<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Inicio</ion-title>
    <ion-button (click)="salir()" slot="start" >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/carrito',idUSuario]" slot="end">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>


  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-text class="ion-text-center" color="primary">
    <h2>Bienvenido {{usuarioIngresado}}  </h2>
  </ion-text>
  

  <ion-card *ngFor="let pro of productos" [routerLink]="['/detalleProducto',pro.id]">
    <ion-img [src]="pro.imagen" ></ion-img>
    <ion-card-header>
      <ion-card-title>
        {{ pro.nombre }}
      </ion-card-title>
      <ion-card-subtitle>
        {{pro.precio | currency: ' CLP ' }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <ion-chip [color]="pro.stock<15?'danger':'primary'">Stock actual : {{pro.stock}}</ion-chip>
      </ion-label>
    </ion-card-content>

    <ion-content>

    </ion-content>

    <ion-row>
      <ion-col width-50 style="text-align: left">
        <ion-button expand="block" [routerLink]="['/detalleProducto',pro.id]"> ver mas
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="cargarMasDatos()">
    <ion-infinite-scroll-content loadingText="Cargando mas datos...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>