<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Detalle Producto</ion-title>
    <ion-button [routerLink]="['/principal']" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="productoActivo" >
    <ion-img [src]="productoActivo.imagen"></ion-img>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        {{ productoActivo.nombre }}
      </ion-card-title>
      

    </ion-card-header>
    <ion-card-content>
      <ion-card-content>Precio: $ {{productoActivo.precio }}</ion-card-content>
      <ion-card-content>Stock actual : {{productoActivo.stock}}</ion-card-content>

      <div></div>
      <ion-card-content>Descripcion: {{ productoActivo.descripcion }}</ion-card-content>
      <ion-card-content>Categoria: {{ productoActivo.categoria}}</ion-card-content>
      <ion-card-content>Unidades o Pack:{{ productoActivo.unidades_pack }}</ion-card-content>
      <ion-card-content>Peso: {{ productoActivo.peso }}</ion-card-content>
      <ion-card-content>Marca: {{ productoActivo.marca}}</ion-card-content>
      <ion-card-content>Tipo Envase:{{ productoActivo.tipo_envase }}</ion-card-content>
    </ion-card-content>



    <ion-button expand="block" (click)="hayProductoCarro(productoActivo.nombre)">
       Agregar 
      <ion-icon name="bag-add-outline" slot="end"></ion-icon>
    </ion-button>

    

  </ion-card>

</ion-content>